#-------------------------------------------------------------------------------
# Django
#-------------------------------------------------------------------------------

Django==1.7.4

#-------------------------------------------------------------------------------
# Packages
#-------------------------------------------------------------------------------

django-debug-toolbar==1.2.1
Jinja2>=2.7.3
psycopg2>=2.5.3

#-------------------------------------------------------------------------------
# Deployment
#-------------------------------------------------------------------------------
gunicorn==19.1.1
watchdog==0.8.1
