/* --------------------------------------------------
    navbar
---------------------------------------------------*/

#site-navbar {
    border-radius: 0px;
    background-color: #eee;
    border-color: #eee;
    margin-bottom: 0px;
}

#navbar-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav > li > a {

}
