#-------------------------------------------------------------------------------
# Deployment packages
#-------------------------------------------------------------------------------

ansible==1.7.2
Fabric==1.10.0
