<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>Our Products</h4>
                <ul id="footer-list">
                    <li><a href="#">Placeholder</a></li>
                    <li><a href="#">Placeholder</a></li>
                    <li><a href="#">Placeholder</a></li>
                    <li><a href="#">Placeholder</a></li>
                    <li><a href="#">Placeholder</a></li>
                </ul>
            </div>

            <div class="col-md-4">
                <h4>Our Company</h4>
                <ul id="footer-list">
                    <li><a href="#">Placeholder</a></li>
                    <li><a href="#">Placeholder</a></li>
                    <li><a href="#">Placeholder</a></li>
                    <li><a href="#">Placeholder</a></li>
                    <li><a href="#">Placeholder</a></li>
                </ul>
            </div>

            <div class="col-md-4">
                <h4>Contact Us</h4>
                <ul id="footer-list">
                    <li><a href="#">Placeholder</a></li>
                    <li><a href="#">Placeholder</a></li>
                    <li><a href="#">Placeholder</a></li>
                    <li><a href="#">Placeholder</a></li>
                    <li><a href="#">Placeholder</a></li>
                </ul>
            </div>
        </div>


    </div>
    <div id="footer">
        <div class="container">
            <div class="left">
                Placeholder Name
            </div>

            <ul class="right">
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
            </ul>

          <div class="clear"></div>
        </div>
    </div>
</footer>