<nav class="navbar" id="site-navbar">
    <div class="container" id="navbar-container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url('index_view') }}">Placeholder Name</a>
        </div>
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Shop<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="">Placeholder</a></li>
                        <li><a href="">Placeholder</a></li>
                    </ul>
                </li>
                <li><a href="">About Us</a></li>
                <li><a href="">Contact</a></li>
                <li class="sep"><a>&nbsp;</a></li>
                <li><a href="">Login</a></li>
                <button class="btn btn-primary navbar-btn navbar-right">Sign Up</button>
            </ul>
        </div>
    </div>
</nav>
