/* --------------------------------------------------
    homepage
---------------------------------------------------*/

#section1{
    background-color: lightskyblue;
    max-height: 550px;
    min-height: 550px;
}

#section2{
    background-color: turquoise;
    max-height: 400px;
    min-height: 400px;
}